<h5>About Me</h5>
<p> 
I’m Matt Leary—a passionate software developer with a keen interest in AI, data engineering, and software development. I typically work with Azure and .NET, but I&apos;m not afraid to venture into other technologies and platforms. 
</p>
<p>
Through this blog, I aim to share my knowledge, insights, and experiences in these exciting fields.
</p>
